@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "./variables";

@import "node_modules/bootstrap/scss/bootstrap";

.card {
    margin-bottom: 30px;
    height: calc(100% - 30px);
    
    .card-body {
        padding: 15px;
        &:not(:first-child) {
            padding-top: 0;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .images-component {
        .field-template {
            position: absolute;
            top: 20px;
            left: 20px;
            color: $white;
            text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);

            .card-subtitle {
                font-size: 28px;
            }
        }
    }
}